/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1C1F2B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #0A0B14;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color:#D4AF37;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #D4AF37;
    margin-bottom: 15px;
}

input, select, button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, button:focus {
    border-color: #007bff;
}

button {
    background-color: #1C1F2B;
    color: #D4AF37;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    background-color: #f9f9f9;
}
p{  
    color: #f9f9f9;
    text-decoration: none;
}
a{  
    color: #f9f9f9;
    text-decoration: none;
}
td:last-child {
    font-weight: 600;
    color: #28a745;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}
.remember-me{
    display: block;
    margin-left: 320px;
    color:#ffff; /* Cor do texto */
}

.remember-me label {
    display: block;
}

#forgot-password {
    display: inline-block; /* Para que o link seja um bloco */
    margin-top: 10px; /* Espaço acima do link */
    color:#ffff; /* Cor do texto */
    text-decoration: underline; /* Subtração para indicar um link */
    cursor: pointer; /* Muda o cursor ao passar sobre o link */

}

#forgot-password:hover {
    text-decoration: none; /* Remove a subtração ao passar o mouse */
}
/* seção de esqueci_senha */
.reset-section {
    margin-top: 20px;
    
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}